;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sun Sep 11 13:46:03 2016
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/Desktop/DD2435 MathBio/Lab1/" "~/Desktop/DD2435 MathBio/Lab1/report.txt" "~/Desktop/DD2435 MathBio/Lab1/" "~/Desktop/DD2435 MathBio/Lab1/ghk_*"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/naresh_balaji/Desktop/DD2435 MathBio/Lab1/ghk_3_5.m"
  "ghk_3_5.m"
  'octave-mode
  nil
  792
  '(793 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/naresh_balaji/Desktop/DD2435 MathBio/Lab1/ghk_3_3.m"
  "ghk_3_3.m"
  'octave-mode
  nil
  227
  '(375 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/naresh_balaji/Desktop/DD2435 MathBio/Lab1/report.txt"
  "report.txt"
  'text-mode
  '(auto-fill-mode)
  617
  '(576 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/naresh_balaji/Desktop/DD2435 MathBio/Lab1/ghk_3_1.m"
  "ghk_3_1.m"
  'octave-mode
  nil
  179
  '(455 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/naresh_balaji/Desktop/DD2435 MathBio/Lab1/ghk_3_2.m"
  "ghk_3_2.m"
  'octave-mode
  nil
  305
  '(276 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/naresh_balaji/Desktop/DD2435 MathBio/Lab1/ghk_5_1.m"
  "ghk_5_1.m"
  'octave-mode
  nil
  327
  '(327 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/naresh_balaji/Desktop/DD2435 MathBio/Lab1/ghk_5_2.m"
  "ghk_5_2.m"
  'octave-mode
  nil
  1
  '(1 nil)
  nil
  nil
  nil)

(desktop-create-buffer 206
  "/home/naresh_balaji/Desktop/DD2435 MathBio/Lab1/ghk_4_1.m"
  "ghk_4_1.m"
  'octave-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

